%h1= @post.title
%em= @post.created_at
- if @post.updated_at > @post.created_at
  \/
  = @post.updated_at

%br
%p!= @post.body

%h3#comments Comments
%section#comments_list
  = render partial: 'comment', collection: @post.comments

%br
- if user_signed_in?
  %h3#add_comment Add comment
  = form_for @comment, url: { action: 'show_post' }, html: { class: 'form form-horizontal comment' }, remote: true do |f|
    - @comment.errors.full_messages.each do |msg|
      %p= msg
    .form-group
      = f.label :body, class: 'control-label'
      .controls
        = f.text_area :body, class: 'form-control', required: true
      = error_span(@comment[:body])
    = f.submit nil,class: 'btn btn-primary'

- else
  %strong log in to comment!
